:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

*:focus,
*:active{
    outline: none !important;
}

html, body{
    padding: 0; margin: 0; overflow: hidden; width: 100%;
    height: fit-content; 
    font-family: 'Arial';
    width:375px;
    /*background: rgba(255, 0, 255, 0.4);*/
}

body{
    display: flex; flex-direction: column; align-items: end;
    justify-content: end; box-sizing: border-box;
}

.fvtoast{
    width: 100%; background: #c0c0c0; border-radius: 10px; box-sizing: border-box;
    margin-top: 10px; position: relative;
    display: flex; padding: 5px 10px;
    transform: translateX(30px); opacity: 0;
}

.fvtoast.show{
    animation: show 200ms;
    animation-fill-mode: forwards;
}

.fvtoast.hide{
    animation: hide 200ms;
    animation-fill-mode: forwards;
}

@keyframes show {
    0% {transform: translateX(30px); opacity: .5;}
    100% {transform: translateX(0); opacity: 1;}
}

@keyframes hide {
    0% {transform: translateX(0); opacity: 1;}
    100% {transform: translateX(30px); opacity: 0;}
}

.fvtoast .icon{
    height: 100%; display: flex; margin-right: 10px;
    justify-content: center; align-items: center; float: left;
}

.fvtoast .content{
    height: 100%; float: left;
    display: flex; flex-direction: column; box-sizing: border-box;
    justify-content: space-evenly;
}

.fvtoast .content .header,
.fvtoast .content .message{
    width: 100%;
}

.fvtoast .content .header{
    font-weight: bold;
}

.fvtoast .content .message{
    line-height: .9;
    padding-bottom: 3px;
}

#close{
    position: absolute; top: 5px; right: 8px;
    width: 15px; height: 15px; cursor: pointer;
    transition: 100ms ease;
}

#close:hover{
    transform: scale(1.1);
}

#close svg{
    width: 100%; cursor: pointer;
}

#close svg path{
    cursor: pointer;
}

#ringer-container {
    zoom: 1;
    animation: scaleup 5s ease-out infinite;
  }
  
  .RingerPhone { animation: ringing 5s ease-in-out infinite; }
  
  #p1 { transform-origin:bottom right; animation: reveal 5s ease-in-out infinite backwards; }
  #p2 { transform-origin:bottom right; animation: reveal 5s ease-in-out .2s infinite backwards; }
  
  @keyframes reveal {
    0% {opacity:0; transform: scale(1); }
    20% {opacity:0; transform: scale(1); }
    22% {opcaity:1; transform: scale(1.05); }
    26% {opacity:1; transform: scale(1); }
    40% {opacity:0; transform: scale(1); }
    100% {opacity:0; transform: scale(1); }
  }
  
  @keyframes scaleup {
    20% {transform: scale(1);}
    30% {transform: scale(1.1);}
    40% {transform: scale(1);}
    100% {transform: scale(1);}
  }
  
  @keyframes ringing {
    20% { transform: rotate(0deg); }
    21% { transform: rotate(10deg); }
    22% { transform: rotate(-10deg); }
    23% { transform: rotate(12deg); }
    24% { transform: rotate(-12deg); }
    25% { transform: rotate(12deg); }
    26% { transform: rotate(-12deg); }
    28% { transform: rotate(10deg); }
    30% { transform: rotate(-10deg); }
    32% { transform: rotate(5deg); }
    34% { transform: rotate(-5deg); }
    36% { transform: rotate(2deg); }
    38% { transform: rotate(0deg); }
  }
  
  // @keyframes phone-inner {
  //   0% {transform: scale(0.7);}
  //   33.3333% {transform: scale(0.9);}
  //   66.6666% {transform: scale(0.7);}
  //   100% {transform: scale(0.7);}
  // }